@import "../../../../styles/constants.scss";
@import "../../../../styles/mixin.scss";

.profileCard {
  &_card {
    &_img {
      width: 250px;
      height: 250px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      @media (min-width: $breakpoint-md) {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
      }
    }
    &_info {
      width: 250px;
      height: 250px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $color-black;
      color: $color-white;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      @media (min-width: $breakpoint-md) {
        width: 300px;
        height: 250px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
      }
      &_darkTheme {
        background-color: $color-white;
        color: $color-black;
      }
      &_dowloadLink {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $color-black;
        font-size: 0.875rem;
        font-weight: 500;
        text-decoration: none;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
