@import "../../../../styles/constants.scss";
@import "../../../../styles/mixin.scss";

.clock.container {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  margin-top: 25px;
  @media (min-width: $breakpoint-md) {
    width: 500px;
  }
  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

.clock.container .col-sm {
  flex-basis: 0;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  opacity: 0.4;
  animation: active-rows-pulse 5s infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  color: rgb(197, 197, 197);
  @media (prefers-color-scheme: dark) {
    color: rgb(70, 70, 70);
  }
  @media (min-width: $breakpoint-md) {
    font-size: 2rem;
  }
}

.clock.container .col-sm.active {
  opacity: 1;
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.clock.container .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  letter-spacing: 0.7rem;
  justify-content: center;
  @media (min-width: $breakpoint-md) {
    letter-spacing: 1rem;
    justify-content: unset;
  }
}

@keyframes active-rows-pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
