@import "../../styles/constants.scss";
@import "../../styles/mixin.scss";

.aboutCode {
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  background-color: white;
  color: black;
  @media (prefers-color-scheme: dark) {
    background-color: black;
    color: white;
  }
  &_container {
    // height: 100%;
    position: relative;
    padding: 16px 16px;
  }
}
