@import '../../styles/constants.scss';
@import '../../styles/mixin.scss';

.bubble-chart {
  width: 100vw;
  height: 100vh;
  padding: 16px 16px;
  overflow: hidden;
  background-color: black;
  color: white;
}