// MOBILE
$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
// TABLET
$breakpoint-md: 768px !default;
// DESKTOP
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1400px !default;
$breakpoints: (
  breakpoint-xs: $breakpoint-xs,
  breakpoint-sm: $breakpoint-sm,
  breakpoint-md: $breakpoint-md,
  breakpoint-lg: $breakpoint-lg,
  breakpoint-xl: $breakpoint-xl,
  breakpoint-xxl: $breakpoint-xxl,
) !default;

//content page
$content-page: 1033px;

// ** Library colors **
$color-white: #fff !default;
$color-black: #000 !default;
$color-white50: #8c8d93 !default;
$color-white20: #2C2E34 !default;

$root-colors: (
  color-white: $color-white,
  color-black: $color-black,
  color-white50: $color-white50,
  color-white20: $color-white20,
) !default;