@import './mixin.scss';
@import './constants.scss';

body {
  margin: 0 !important;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow-y: hidden;
}

