@import '../../styles/constants.scss';
@import '../../styles/mixin.scss';

.home {
  width: 100vw;
  height: 100vh;
  padding: 16px 16px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
  color: white;
  &_linkTo {
    color: white !important;
    text-transform: capitalize !important;
  }
}
