@import "../../../../styles/constants.scss";
@import "../../../../styles/mixin.scss";

.recipesGenerator_container {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 250px);
  @media (min-width: $breakpoint-md) {
    height: calc(100vh - 184px);
  }
  &_yourRecipe {
    padding-bottom: 30px;
    min-height: 80px;
    height: fit-content;
    position: sticky;
    background-color: $color-black;
    top: 0;
    display: flex;
    &_list {
      flex: 1 1 auto;
      display: flex;
      gap: 16px;
      h5 {
        padding-left: 5px;
        flex: 0 0 auto;
      }
      &_tags {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
      }
    }
    &_cta {
      background-color: $color-black;
      color: $color-white;
      font-weight: 700;
      padding: 8px 10px;
      border-radius: 4px;
      flex: 0 0 auto;
      height: 50px;
      @media (prefers-color-scheme: dark) {
        background-color: $color-white;
        color: $color-black;
      }
    }
  }
  &_ingredients {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    &_food {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $color-black;
      @media (prefers-color-scheme: dark) {
        border: 1px solid $color-white;
      }
    }
  }
}
