@import "../../../../styles/constants.scss";
@import "../../../../styles/mixin.scss";

.bsItem {
  position: relative;
  img {
    width: 100%;
  }
  &_infoWrap {
    width: 100%;
    height: fit-content;
    &_row {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      &_label {
        font-weight: 700;
      }
    }
  }
}

.verticalWrap {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}